body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom right, #f5f7fa, #c3e2cf);
    overflow: hidden;
}

.container {
    text-align: center;
    position: relative;
}

.error-code {
    font-size: 8rem;
    color: #ff6347;
    animation: bounce 1s infinite;
}

.error-message {
    font-size: 1.5rem;
    margin: 20px 0;
    color: #2b2117;
}

.back-home {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #409400;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.back-home:hover {
    background-color: #103502;

}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
