<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Cart</title>
    <script>
        async function addProductToCart(cartId, productId, inventoryId, quantity, unitId) {
            try {
                const response = await fetch(`http://localhost:8080/api/carts/${cartId}/add-product?productId=${productId}&inventoryId=${inventoryId}&quantity=${quantity}&unitId=${unitId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });

                if (!response.ok) {
                    throw new Error('Failed to add product to cart');
                }

                const cartDetail = await response.json();
                console.log('Product added to cart:', cartDetail);
                alert('Product added to cart successfully!');
            } catch (error) {
                console.error('Error adding product to cart:', error);
                alert('Error adding product to cart');
            }
        }
    </script>
</head>
<body>
<h1>Add Product to Cart</h1>
<input type="number" id="cartId" placeholder="Cart ID" required />

<input type="number" id="productId" placeholder="Product ID" required />
<input type="number" id="inventoryId" placeholder="Inventory ID" required />
<input type="number" id="quantity" placeholder="Quantity" required />
<!--<input type="number" id="price" placeholder="Price" required />-->
<input type="number" id="unitId" placeholder="Unit Id" required />
<button onclick="addProductToCart(
        document.getElementById('cartId').value,
        document.getElementById('productId').value,
        document.getElementById('inventoryId').value,
        document.getElementById('quantity').value,
        document.getElementById('unitId').value

<!--        document.getElementById('price').value-->
    )">Add to Cart</button>
</body>
</html>
