<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{assets/layout/index :: dynamic(~{::main})}">
<main>
    <body>

    <h1>Quản lý đơn hàng</h1>

    <table>
        <thead>
        <tr>
            <th>Mã Đơn</th>
            <th>Người Mua</th>
            <th>Tổng Tiền</th>
            <th>Địa chỉ</th>
            <th>Ngày Đặt</th>
            <th>Trạng Thái</th>
            <th>Hành Động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td data-label="Mã Đơn" th:text="${order.id}">DH001</td>
            <td data-label="Người Mua" th:text="${order.user.fullname}"></td>
            <td data-label="Tổng Tiền" th:text="${order.totalAmount}">6,000,000 VND</td>
            <td data-label="Địa chỉ" class="address" th:text="${order.shipping != null ? order.shipping.address : 'Không có địa chỉ'}">123 Nguyễn Trãi, Hà Nội</td>
            <td data-label="Ngày Đặt" th:text="${order.createDate}">10/10/2024</td>
            <td th:text="${order.status}"
                th:classappend="${order.status.name == 'PENDING' ? 'status-pending' :
                                 order.status.name == 'CONFIRMED' ? 'status-shipped' :
                                 order.status.name == 'PICKING' ? 'status-shipped' :
                                 order.status.name == 'SHIPPED' ? 'status-shipped' :
                                 order.status.name == 'DELIVERED' ? 'status-delivered' :
                                 order.status.name == 'UNSUCCESSFUL' ? 'status-cancelled' :
                                 order.status.name == 'CANCELED' ? 'status-cancelled' : ''}">
                Trạng Thái
            </td>

            <td data-label="Hành Động">
                <div class="actions">
                    <a th:href="@{/orderDetail/{id}(id=${order.id})}" class="btn-primary">Xem chi tiết</a>
                    <a href="#" class="btn-warning">Cập nhật trạng thái</a>
                    <a href="#" class="btn-danger">Hủy đơn</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    </body>
</main>
</html>
