<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{assets/layout/index :: dynamic(~{::main})}">
<head>
</head>
<main>
<body>

<div class="container">
    <h2>Chọn Sản Phẩm</h2>
    <div class="product-grid">

        <div th:each="product : ${products}" class="product">
            <a th:href="@{/admin/inventorys/{productId}(productId=${product.id})}" class="product-card">

                <img th:src="@{${product.imgBannerPath}}" alt="product image" class="img-fluid" />
                <h5 th:text="${product.name}"></h5>
                <p>Tổng số lô hàng  <span th:text="${inventoryCounts[product.id]}"></span></p>
            </a>
        </div>
    </div>
</div>
</body>
</main>
</html>
